*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f5f9;
    color: #333;
}

header{
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1{
    margin: 0;
}

nav{
    background-color: #005599;
    text-align: center;
    padding: 12px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover{
    color: yellow;
}


.container{
    width: 90%;
    max-width: 1100px;
    margin: 25px auto;
    display: flex;
    gap: 25px;
}
.articles{
    flex: 3;
}
.article{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.article h2{
    color: #003366;
}

.article p{
    line-height: 1.6;
}

.sidebar{
    flex: 1;
    background-color: white;
    padding: 20px;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0 0 8px #ccc;
}

.sidebar h2{
    color: #003366;
}

.sidebar ul{
    padding-left: 20px;
    line-height: 2;
}

footer{
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

@media (max-width: 700px) {
    .container{
        flex-direction: column;
    }

    nav a{
        display: block;
        margin: 10px;
    }
}