table{
    width: 700px;
    border-collapse: collapse;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
}

th, td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.day{
    background-color: #dddddd;
    font-weight: bold;
}

.seminar{
    font-weight: bold;
    background-color: #eeeeee;
}